<div class="page-content">
  <div class="form-content">
    <h1>Login &amp; Registration Forms</h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div class="register-header right">
              Already a buddy?
              <h4>Login</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div class="register-body right">
              <form action="">
                <input type="text" class="form-control" placeholder="Username/Email">
                <input type="password" class="form-control" placeholder="Password">
                <button class="btn btn-info col-sm-12">Sign me in!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div class="register-header left">
              Not yet a buddy?
              <h4>Register</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div class="register-body left">
              <form action="">
                <input type="text" class="form-control" placeholder="First Name">
                <input type="text" class="form-control" placeholder="Last Name">
                <input type="text" class="form-control" placeholder="Userame">
                <input type="email" class="form-control" placeholder="email">
                <input type="password" class="form-control" placeholder="Password">
                <button class="btn btn-info col-sm-12">Sign me up!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



 